.images-container {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    /* Adjust as needed */
    margin: 0 auto;
}

.image-city {
    max-width: 48%;
    /* Adjust as needed */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (max-width: 600px) {
    .images-container {
        flex-direction: column;
    }

    .image-city {
        max-width: 100%;
        margin-bottom: 10px;
        /* Add some spacing between the images */
    }

    .tbody {
        grid-template-columns: repeat(1, 1fr);
    }
}
